hr{
    border-style: dotted none none;
    border-width: 5px;
    width: 300px;
    border-color: #71c9ce;
}

body{
    margin : 0px;
}

img{
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}

.index{
    background-color: #cbf1f5;
}

.hubungiSaya{
    background-color: #e3fdfd;
    margin-left: 10px;
}

.profil{
    background-color: #fc7e2f;
}

#head{
    margin-top: 20px;
    text-indent: 30px;
    color: #162447;
    font-family: Impact;
}

#link{
    font-family: cursive;
    text-indent: 40px;
}

p{
    font-family: 'Times New Roman';
}
